conf/xsd/ApplicationFormsCommon.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" version="2.0" id="ApplicationFormsCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Common.xsd" />

	<!--Top Level Form Sections-->

    <xs:complexType name="AdditionalContactsType">
        <xs:sequence>
            <xs:element name="Contacts" type="IndividualType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="ProviderType">
		<xs:sequence>
			<xs:element name="RegistrationId" type="xs:int" minOccurs="1" />
			<xs:element name="ProvisionTypeId" type="ProvisionTypeIdType" minOccurs="1" />
			<xs:element name="SettingName" type="SettingNameType" minOccurs="0" />
			<xs:element name="chldMinderCareProviderName" type="xs:string" minOccurs="0" />
			<xs:element name="URNReferenceNumber" type="xs:string" minOccurs="0" />
			<xs:element name="RegistrationStatus" type="xs:string" minOccurs="0" />
			<xs:element name="OfstedRegNo" type="xs:string" minOccurs="0" />
			<xs:element name="SettingAddress" type="AddressType" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="SettingsType">
        <xs:sequence>
            <xs:element name="SettingsConnected" type="SettingsConnectedType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="ConnectionWithRegistrationType">
		<xs:sequence>
			<xs:element name="LookingAfterAsCM" type="YesNoType" minOccurs="0" />
			<xs:element name="AtCMPremises" type="YesNoType" minOccurs="0" />
			<xs:element name="RelationWithCM" type="xs:string" minOccurs="0" />
			<xs:element name="SoleOwnerCC" type="YesNoType" minOccurs="0" />
			<xs:element name="MakingUpOrgCC" type="YesNoType" minOccurs="0" />
			<xs:element name="RoleIsDirector" type="YesNoType" minOccurs="0" />
			<xs:element name="RoleIsTrustee" type="YesNoType" minOccurs="0" />
			<xs:element name="RoleIsPartner" type="YesNoType" minOccurs="0" />
			<xs:element name="RoleIsCommitteeMember" type="YesNoType" minOccurs="0" />
			<xs:element name="RoleIsOther" type="YesNoType" minOccurs="0" />
			<xs:element name="RoleOther" type="xs:string" minOccurs="0" />
			<xs:element name="NominatedPersonForOrg" type="YesNoType" minOccurs="0" />
			<xs:element name="DirectlyManage" type="YesNoType" minOccurs="0" />
			<xs:element name="WorkDirectly" type="YesNoType" minOccurs="0" />
			<xs:element name="MemberOfStaff" type="YesNoType" minOccurs="0" />
			<xs:element name="LookingAfterAsCC" type="YesNoType" minOccurs="0" />
			<xs:element name="AtCCPremises" type="YesNoType" minOccurs="0" />
			<xs:element name="RelationWithCC" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name ="PersonalType">
		<xs:sequence>
			<xs:element name="IndividualId" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="Title" type="TitleType" minOccurs="1"  maxOccurs="1" />
			<xs:element name="OtherTitle" type="xs:string" minOccurs="0"  maxOccurs="1" />
			<xs:element name="FirstName" type="ForenameType" minOccurs="1" maxOccurs="1" />
            <xs:element name="MiddleNames" type="ForenameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Surname" type="SurnameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SurnameUsedUntill" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="SurnameAtBirth" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="AnyOtherNames" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherNames" type="OtherNamesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="1" />
			<xs:element name="PlaceOfBirthTown" type="xs:string" minOccurs="1" maxOccurs="1"  />
			<xs:element name="PlaceOfBirthCounty" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="BornInUK" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherCountry" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="Nationality" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="Sex" type="SexType" minOccurs="1" maxOccurs="1" />
			<xs:element name="LivedOutsideUK" type="YesNoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CurrentAddressDetails" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="AnyOtherAddresses" type="YesNoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CRBdisclosure" type="YesNoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherAddresses" type="PreviousAddressesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnyTimeUnaccounted" type="YesNoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TimeUnaccounted" type="TimeUnaccountedType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CertResult" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="DisclosureNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="MainContactNumber" type="MainContactNumberType" minOccurs="1" maxOccurs="1" />
			<xs:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ReceiveElectronicComm" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="MorningSuitableTime" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="AfternoonSuitableTime" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="EveningSuitableTime" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="AnySuitableTime" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SuitableContactTime" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="DaytimeContactNumber" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="MobileContactNumber" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PastRegistrationType">
		<xs:sequence>
			<xs:element name="OfstedReg" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherRegBodyUK" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherRegBodyEU" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherBodyName" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegistrationRefNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegistrationDateFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegistrationDateTo" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="ResidentEnglandFiveYears" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ResidentUkOverseasFiveYears" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="InArmedForces" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="MODAccredDetails" type="MODAccredDetailsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SCPastRegistrationType">
		<xs:sequence>
			<xs:element name="PreviousApplication" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OfstedReferenceNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="CarriedOnBusiness" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="FianancialOrWorkInterestsWithOfsted" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredHomesAct1984" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredHomesAct1991" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildrenAct1989" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildcareAct2006" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="NursesAgenciesAct1957" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="CareStandardsAct2000" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="HealthAndSocialCareAct2008" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ApplicationRefusedOrCancelled" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="WithdrawnApplication" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="BankruptDebtOrOther" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="DisciplinaryProcedures" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="RelatedPersonWorking" type="YesNoType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PremisesType">
		<xs:sequence>
			<xs:element name="AddressSameAsPrevious" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SettingName" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="AddressDetails" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="TelephoneNumber" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="FaxNumber" type="FaxType" minOccurs="0" maxOccurs="1" />
			<xs:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="LocalAuthority" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="AreaId" type="AreaIdType" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegionId" type="RegionIdType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OvernightCare" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SpecificRequirements" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="HaveSoleUseOfPremises" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ReadyForInspectorVisit" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="PrposedPremisesReadyDate" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="NoOfToilets" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="NoOfWashbasins" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherPremises" type="OtherPremisesType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="EYSPremisesType">
        <xs:sequence>
            <xs:element name="PurchaseExistRegChldcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="MovingToNewAddress" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="ExistingSettingURN" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ExistingSettingName" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ExistingSettingAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
            <xs:element name="SettingName" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="AddressDetails" type="AddressType" minOccurs="1" maxOccurs="1" />
            <xs:element name="TelephoneNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
            <xs:element name="OvernightCare" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="HaveSoleUseOfPremises" type="YesNoType" minOccurs="1" maxOccurs="1" />
            
            <xs:element name="OtherThanSchlChldCareOnSchlPremises" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="OfstedSchoolReferenceNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="SchoolName" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="SchoolAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ChldcareAsPartOfChildrenCentre" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="ChildrenCentreNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ChildrenCentreName" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ChildrenCentreNumberType" type="ChildrenCentreNumberType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ChildcareSameSiteAsChildrenCentre" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="ChildrenCentreAddress" type="AddressType" minOccurs="0" maxOccurs="1" />

            <xs:element name="ManageProvisionMyself" type="YesNoType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="PreviousExperienceType">
		<xs:sequence>
			<xs:element name="RelaventTrainQual" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="TrainQualDetails" type="TrainQualDetailsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="AnyFirstAidCert" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="LocalAuthorityTrainingOrgName" type="xs:string" maxOccurs="1" />
			<xs:element name="LocalAuthorityDateFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="LocalAuthorityDateTo" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidCertificateTitle" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidCertificateGainedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidCertificateAwardingBody" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidCertificateExpiryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidTrainingTitle" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidTrainingStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidTrainingAwardingBody" type="xs:string" minOccurs="0" maxOccurs="1" />						
			<xs:element name="ExperienceDetails" type="ExperienceDetailsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProvisionType">
		<xs:sequence>
			<xs:element name="ProvisionCareTime" type="ProvisionCareTimeType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ProvisionCareFrequency" type="xs:string" minOccurs="0"  maxOccurs="1" />
			<xs:element name="BirthToUnderOneChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="BirthToUnderTwoChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="TwoToUnderThreeChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="ThreeToEndOfEarlyYearsChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="OneToEndOfEarlyYearsChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="EarlyYearsToUnderEightChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="EightToUnderElevenChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="ElevenToUnderFifteenChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="FifteenToUnderEighteenChildren" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="ChildrenAged8orOver" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="ProvisionOperateFoursPerDay" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ProvisionOperateThreeHoursPerDay" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ProvisionOperateTwoHoursPerDay" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ProvisionOperateFiveDaysAWeek" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ProvisionOperateFortyFiveWeeksAYear" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="DayCareType" type="DayCareTypeType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherInformation" type="xs:string" minOccurs="0"  maxOccurs="1" />
			<xs:element name="SpecialConsiderations" type="SpecialConsiderationsType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="SettingsConnectedType">
        <xs:sequence>
            <xs:element name="SettingSummary" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SettingName" type="xs:string" minOccurs="1" maxOccurs="1" />
                        <xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="ProvisionTypeId" type="ProvisionTypeIdType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="Registers" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="TelNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="EmailAddress" type="EmailAddressType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="EYSStatus" type="xs:string" minOccurs="1" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="SCProvisionType">
		<xs:sequence>
			<xs:element name="ProvisionSubTypeId" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="NumberFTE" type="xs:short" minOccurs="0"  maxOccurs="1" />

			<xs:element name="ChildrensHome" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MaxUsers" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="MaxMale" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="MaxFemale" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="EBDChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="PDChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="LDChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="MDChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="PDPChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="PAPChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="SIChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="OtherChildren" type="xs:short" minOccurs="0"  maxOccurs="1" />
						<xs:element name="AdultCare" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="AdultCareDesc" type="xs:string" minOccurs="0"  maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ResidentialFamilyCentre" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FamilyCount" type="xs:int" minOccurs="0"  maxOccurs="1" />
						<xs:element name="EmergencyAdmission" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="DirectCourtReferral" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="RefugeService" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="AdultsWithoutChildren" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="ChildrenWithCarers" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="ServiceOtherThanRFC" type="YesNoType" minOccurs="0"  maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="IndependentFosteringAgency" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FosteringRefuge" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="FosteringPanel" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="MultipleFosteringPanels" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="JointFosteringPanel" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="PlacementConditions" type="xs:string" minOccurs="0"  maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="IndependentAdoptionAgency" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdoptionPanel" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="MultipleAdoptionPanels" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="AdoptionConditions" type="xs:string" minOccurs="0"  maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="AdoptionsSupportAgency" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdoptionCounselling" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="AdoptionAdvice" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="MediationService" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="TherapeuticService" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="RelationshipSupport" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="DisruptionSupport" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="IntermediaryService" type="YesNoType" minOccurs="0"  maxOccurs="1" />
						<xs:element name="AgencySupport" type="YesNoType" minOccurs="0"  maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="AgeFrom" type="xs:short" minOccurs="0" maxOccurs="1" />
			<xs:element name="AgeTo" type="xs:short" minOccurs="0"  maxOccurs="1" />
			<xs:element name="ChargeRange" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name ="ProvisionTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Childminder" />
			<xs:enumeration value="DayCare" />
			<xs:enumeration value="CMNetwork" />
			<xs:enumeration value="PortageScheme" />
			<xs:enumeration value="IndependentSchool" />
			<xs:enumeration value="ChildrensHome" />
			<xs:enumeration value="VoluntaryAdoptionAgency" />
			<xs:enumeration value="IndependentFosteringAgency" />
			<xs:enumeration value="AdoptionSupportAgency" />
			<xs:enumeration value="ResidentialFamilyCentre" />
			<xs:enumeration value="BoardingSchool" />
			<xs:enumeration value="FurtherEducationCollege" />
			<xs:enumeration value="ResidentialSpecialSchool" />
			<xs:enumeration value="LocalAuthorityAdoptionAgency" />
			<xs:enumeration value="LocalAuthorityFosteringAgency" />
			<xs:enumeration value="PrivateFosteringArrangements" />
			<xs:enumeration value="HomeChildcarer" />
			<xs:enumeration value="ChildminderVCR" />
			<xs:enumeration value="ChildcareOnDomesticPremises" />
			<xs:enumeration value="ChildcareOnNonDomesticPremises" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="HealthType">
		<xs:sequence>
			<xs:element name="AnyIllnesses" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="IllnessDetails" type="IllnessOrAdmissionDetailsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="AnyAdmissions" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="AdmissionDetails" type="IllnessOrAdmissionDetailsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Treatment" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="NatureOfIllness" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RefereesType">
		<xs:sequence>
			<xs:element name="EmployerDetails" type="EmployerDetailsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ContactEmployerForReference" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstReferenceAddress" type="ReferenceAddressType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SecondReferenceAddress" type="ReferenceAddressType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SuitabilityAndDisqualificationType">
		<xs:sequence>
			<xs:element name="CircumApply" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="CircumApplyDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="Confirm" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SocialService" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SocialServiceDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="CriminalConviction" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="CriminalConvictionDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="CRBCheck" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Circumstance" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="CircumstanceDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ISARegNumber" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ISARegNumberDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

  <xs:complexType name="AgreementType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" />
      <xs:element name="Postition" type ="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="DateOfSignature" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

	<xs:complexType name="ConsentAndDeclarationType">
		<xs:sequence>
			<xs:element name="AgreeConsent" type="xs:boolean" minOccurs="1" />
			<xs:element name="OrganisationName" type="OrganisationNameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Status" type ="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationType" type="OrganisationTypeIDType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OtherOrgType" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="1" />
			<xs:element name="PublicationDecision" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EqualOpportunitiesType">
		<xs:sequence>
			<xs:element name="EthnicGroupId" type="EthnicGroupType" minOccurs="0" />
			<xs:element name="OtherEthnicGroup" type="xs:string" minOccurs="0" />
			<xs:element name="Disability" type="YesNoType" minOccurs="0" />
			<xs:element name="DisabilityId" type="DisabilityType" minOccurs="0" />
			<xs:element name="DisabilityDetail" type="xs:string" minOccurs="0" />
			<xs:element name="EnglishAsFirstLanguage" type="YesNoType" minOccurs="0" />
			<xs:element name="OtherFirstLanguage" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CRIndividualType">
		<xs:sequence>
			<xs:element name="Title" type="TitleType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherTitle" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="Forename" type="ForenameType" minOccurs="1" maxOccurs="1" />
            <xs:element name="MiddleNames" type="ForenameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Surname" type="SurnameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SurnameAtBirth" type="SurnameType" minOccurs="0" maxOccurs="1"  />
			<xs:element name="SurnameUsedUntil" type="xs:dateTime" minOccurs="1" maxOccurs="1"  />
			<xs:element name="AliasesUsed" type="xs:boolean" minOccurs="1" maxOccurs="1"  />
			<xs:element name="Aliases" type="AliasesType" minOccurs="0" maxOccurs="1"  />
			<xs:element name="LivedOutsideUK" type="xs:boolean" nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="BritishCitizen" type="xs:boolean" nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="LivingInSetting" type="xs:boolean" nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrganisationPosition" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="ReasonLivedAbroad" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="HomeAddress" type="AddressType" minOccurs="1" maxOccurs="1" />
			<xs:element name="HomeTelephone" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="WorkTelephone" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="MobileTelephone" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Email" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="DetailsCorrect" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
			<xs:element name="ManagerAppointed" type="ManagerAppointedType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Disqualification" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="OfstedCRBDisclosure" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="CRBDateofIssue" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="Convicted" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="CriminalConvictions" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildrensServices" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="ChildrensServicesDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ApplicantHasISA" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="ApplicantHasISADetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="SuitabilityIssues" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="SuitabilityDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="Associations" type="CRAssociationsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="EthnicGroup" type="EthnicGroupType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Disability" type="DisabilityType" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnglishFirstLanguage" type="EnglishFirstLanguageType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OtherEthnicGroup" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="OtherFirstLanguage" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="DisabilityDescription" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="OwnershipType" type="OwnershipTypeIdType" minOccurs="1" maxOccurs="1" />
			<xs:element name="PreviousAddresses" type="PreviousAddressesType" minOccurs="0" maxOccurs="1" />
			<xs:element name="CertResult" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="DisclosureNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="CROrganisationType">
		<xs:sequence>
			<xs:element name="OrganisationID" type="xs:int" nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrganisationName" type="OrganisationNameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationType" type="OrganisationTypeIDType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationTypeOther" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationAddress" type="AddressType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrganisationTelephoneNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrganisationMobileNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrganisationFaxNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrganisationEmail" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationDateOfBeing" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredCharityNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredCompanyNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="PrimaryPurposeChildCare" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredPerson" type="CRRegisteredPersonsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ProvisionName" type="SettingNameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SettingAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SettingTelephoneNumber" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OwnedProvision" type="SectorTypeIdType" minOccurs="0" maxOccurs="1" />
			<xs:element name="LengthOfProvision" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="ContinuingChildCare" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolSite" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolProvision" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="DFESSchoolNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ValidateSchoolNumber" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolName" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildmindingCenter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildmindingCenterNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildmindingCenterNumberType" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="TimesOfProvision" type="ProvisionCareTimeType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ProvisionCareFrequency" type="ProvisionCareFrequencyType" minOccurs="0" maxOccurs="1" />
			<xs:element name="BirthToUnderOneChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="OneToUnderTwoChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="TwoToUnderThreeChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="ThreeToEndOfEarlyYearsChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="EarlyYearsToUnderEightChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="EightToUnderElevenChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="ElevenToUnderFifteenChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="FifteenToUnderEighteenChildren" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="CCRExemptRegistration" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EYRExemptRegistration" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="ExemptReason" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="NumberOfPlaces" type="xs:int" nillable="true" minOccurs="0" maxOccurs="1" />
			<xs:element name="FurtherSettingAddress" type="FurtherSettingAddressesType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CRDeclarationsType">
		<xs:sequence>
			<xs:element name="CarersOnpermises" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstAidCertificate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="Qualifications" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="Complaints" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="AccessibilityAndInclusion" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="CorporalPunishment" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="BehaviourManagement" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="SafegaurdingChildren" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="SafegaurdingChildrenHomeChildCarer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="AlcoholAndSmoking" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="AlcoholAndSmokingHomeChildCarer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegistrationCertificate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegistrationCertificateHomeChildCarer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformationForParents" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="Insurance" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="HealthAndsafety" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="HealthAndsafetyHomeChildCarer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="RiskAssessment" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="StatementOfSuitability" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="Disqualifications" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="AlternativePremises" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="RecordKeeping" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="NotificationOfSignificantEvents" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="UnsupervisedAccess_1" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="UnsupervisedAccess_2" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="Declaration" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="ConsentForUseOfInformation" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="CorporalPunishmentOthers" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="AllTimePresent" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="SuperviseChildren" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="SuperviseChildrenRegComp" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="AdultSuperviseEvery8children" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="CompleteChildMCourse" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="CompleteChildMCourseVol" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="CompleteChildMCourseComp" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="CompletCoreSkills" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsurePremisesEquipmentSafe" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsureAccompaniedleave" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsureAuthorisedEntry" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="MakeArrangemntOtherChildcare" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsureBehaviourImpactDiffAgeGroup" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsureNeedsRelatedChildcare" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsureAccessToChildrenHaveDisabilities" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="WrittenStatementProceduresComplaint" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="WrittenStatementProceduresComplaintHC" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="EnsureComplaintsInvestigated" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="WrittenRecordComplaints" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOutcomeComplaint" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="MakeOfstedAvailableSummaryRecords" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="ProduceOfstedListComplaints" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="KeepRecordsOfMedicine" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InfoSafeguardingProcParents" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InfoOpenAccessParents" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InfoOfstedAddressRegSystem" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedChangeOfCircumstances" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedChangesAddressType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedChangeNameEventSuitability" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedPeopleDetails" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedChangeMgrorNomPerson" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedchkCCoDNDComldets" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="InformOfstedFoodpoisonSeriousInjury" type="xs:boolean" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChildcareRegisterType">
		<xs:sequence>
			<xs:element name="CCRChildminder" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="VCRChildminder" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="VCRHomeChildcarer" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="CCROtherChildcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="VCROtherChildcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="HomeChildcarerAddresses" type="HomeChildcarerAddressesType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="EYSRegistersType">
        <xs:sequence>
            <xs:element name="EYROtherChildcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="CCROtherChildcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="VCROtherChildcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="CCRMeetRequirements" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="VCRMeetRequirements " type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="CCRExemptRegistration" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="EYRExemptRegistration" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="ExemptReason" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="IndividualType">
		<xs:sequence>
			<xs:element name="AlreadyKnownOfsted" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="EY2Enclosed" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="IndividualId" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualTitle" type="TitleType" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualTitleOther" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualFirstNames" type="ForenameType" minOccurs="0" maxOccurs="1" />
            <xs:element name="IndividualMiddleNames" type="ForenameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualSurname" type="SurnameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualDOB" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualEmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualContactTelephoneNumber" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualReceiveElectronicCommunication" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="AdditionalContactConnection" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="AdditionalContactSubmitSEF" type="YesNoType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OtherPeopleType">
		<xs:sequence>
			<xs:element name="PeopleLookingAfterchildren" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="PplLkngAfterChldn_PersonalDtls" type="PplLkngAfterChldn_PersonalDtlsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="PeopleNotLookingChildren" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="PplNotLkngChldn_PersonalDtls" type="PplNotLkngChldn_PersonalDtlsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Children" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Children_Details" type="Children_DetailsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrganisationType">
		<xs:sequence>
			<xs:element name="OrganisationId" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationType" type="OrganisationTypeType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationName" type="OrganisationNameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrgAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationTelNo" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationMobileTelNo" type="TelephoneNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationFax" type="FaxType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationEmail" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ReceiveElectronicComm" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationDateOfBeing" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredCharityNo" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="CompanyRegistrationNo" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="Subsidiary" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="PrimarypurposeChildCare" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="RegisteredPersonsDetails" type="RegisteredPersonsDetailsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="OrganisationTypeOther" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TypeOfApplicationType">
		<xs:sequence>
			<xs:element name="ApplicationType" type="ProvisionTypeType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SectorType" type="SectorTypeType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ApplyingAs" type="OwnershipType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SchoolApplngChldCareU3" type="YesNoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="SchoolApplngChldCarePupils" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChldCarebySchlGoverningBody" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SplSchoolChldCare" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SettingPupilLeader" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherThanSchlChldCareOnSchlPremises" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OfstedSchoolReferenceNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolName" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="AcceptStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="CCAcceptStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChldcareAsPartOfChildrenCentre" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ChildrenCentreNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildrenCentreName" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildrenCentreNumberType" type="ChildrenCentreNumberType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChildcareSameSiteAsChildrenCentre" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ChildrenCentreAddress" type="AddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ChldcareAsPartOfChildrenCentreOptions" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="DirectlyManagedChildrenCentre" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="PurchaseExistRegChldcare" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="RegisteredPerson" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="TargetOpeningDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SCTypeOfApplicationType">
		<xs:sequence>
			<xs:element name="ApplicationType" type="ProvisionTypeType" minOccurs="1" maxOccurs="1" />
			<xs:element name="SectorId" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="ApplyingAs" type="OwnershipType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OnSchoolPremises" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OfstedSchoolReferenceNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="SchoolName" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="PurchaseExisting" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="TargetOpeningDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!--END Top Level Form Sections-->

	<!--Common subsection Types-->

	<xs:complexType name="AliasesType">
		<xs:sequence>
			<xs:element name="Alias" type="AliasType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AliasType">
		<xs:sequence>
			<xs:element name="ForeName" type="xs:string" minOccurs="0" />
			<xs:element name="Surname" type="xs:string" minOccurs="0" />
			<xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" />
			<xs:element name="DateTo" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AttachmentTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CR1" />
			<xs:enumeration value="CR2" />
			<xs:enumeration value="EY2" />
			<xs:enumeration value="EYC" />
			<xs:enumeration value="EYO" />
			<xs:enumeration value="SC1" />
			<xs:enumeration value="SC2" />
			<xs:enumeration value="SC3" />
			<xs:enumeration value="CDL999" />
			<xs:enumeration value="HEALTH" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ChildrenCentreNumberType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DayCareTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Null" />
			<xs:enumeration value="Full" />
			<xs:enumeration value="Sessional" />
			<xs:enumeration value="OutofSchool" />
			<xs:enumeration value="Creche" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DisabilityType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="EmployerDetailsType">
		<xs:sequence>
			<xs:element name="Employer" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="Title" type="TitleType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherTitle" type="xs:string" minOccurs="0"  maxOccurs="1" />
			<xs:element name="FirstName" type="ForenameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Surname" type="SurnameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1" />
			<xs:element name="TelephoneNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
			<xs:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="JobTitle" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="FromDate" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="ToDate" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="EnglishFirstLanguageType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="EthnicGroupType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<xs:enumeration value="5" />
			<xs:enumeration value="6" />
			<xs:enumeration value="7" />
			<xs:enumeration value="8" />
			<xs:enumeration value="9" />
			<xs:enumeration value="10" />
			<xs:enumeration value="11" />
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />
			<xs:enumeration value="14" />
			<xs:enumeration value="15" />
			<xs:enumeration value="16" />
			<xs:enumeration value="17" />
			<xs:enumeration value="18" />
			<xs:enumeration value="19" />
			<xs:enumeration value="20" />
			<xs:enumeration value="21" />
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="ExperienceDetailsType">
		<xs:sequence>
			<xs:element name="Experience" type="ExperienceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	   
	   
	<xs:complexType name="ExperienceType">
		<xs:sequence>
			<xs:element name="Experience" type="xs:string" minOccurs="0" />
			<xs:element name="Address" type="AddressType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FormMetaDataType">
		<xs:sequence>
			<xs:element name="ReferToCIE" type="YesNoType" minOccurs="0" />
			<xs:element name="ReferToTeamManager" type="YesNoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>	
	
	<xs:simpleType name ="IndividualNameType" >
		<xs:restriction base ="xs:string" >
			<xs:length value ="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="IllnessOrAdmissionDetailsType">
		<xs:sequence>
			<xs:element name="IllnessOrAdmission" type="IllnessOrAdmissionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IllnessOrAdmissionType">
		<xs:sequence>
			<xs:element name="IllnessOrAdmission" type="xs:string" minOccurs="0" />
			<xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" />
			<xs:element name="DateTo" type="xs:dateTime" minOccurs="0" />
			<xs:element name="ID" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MainContactNumberType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown" />
			<xs:enumeration value="Work" />
			<xs:enumeration value="Home" />
			<xs:enumeration value="Mobile" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ManagerAppointedType">
		<xs:restriction base="xs:int">
            <xs:enumeration value="0" />
            <xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MODAccredDetailsType">
		<xs:sequence>
			<xs:element name="RegisteredWorked" type="YesNoType" minOccurs="0" maxOccurs="1" />
			<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="IssueDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:simpleType name="OrganisationTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LocalAuthority" />
			<xs:enumeration value="Organisation" />
			<xs:enumeration value="Committee" />
			<xs:enumeration value="Partnership" />
			<xs:enumeration value="InformalPartnership" />
			<xs:enumeration value="StatutoryBody" />
			<xs:enumeration value="Company" />
			<xs:enumeration value="Charity" />
			<xs:enumeration value="Other" />			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OwnershipType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Organisation" />
			<xs:enumeration value="Individual" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OwnershipTypeIdType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
			<xs:enumeration value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PartsApplyingForType">
		<xs:sequence>
			<xs:element name="PartApplyingFor" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
				   
				   
				   
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element name="Title" type="TitleType" minOccurs="0" maxOccurs="1" />
			<xs:element name="FirstName" type="ForenameType" minOccurs="1" maxOccurs="1" />
            <xs:element name="MiddleNames" type="ForenameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Surname" type="SurnameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="DateOfBirth" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="PositionResponsibilityContactWithChildren" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="HasSubmitedOtherDCXOrCMXColumn" type="xs:boolean" nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="ID" type="xs:int" minOccurs="0" maxOccurs="1" />
			<xs:element name="IndividualId" type="xs:int" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PplLkngAfterChldn_PersonalDtlsType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PplNotLkngChldn_PersonalDtlsType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Children_DetailsType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FurtherSettingAddressesType">
		<xs:sequence>
			<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PreviousAddressesType">
		<xs:sequence>
			<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OtherPremisesType">
		<xs:sequence>
			<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HomeChildcarerAddressesType">
		<xs:sequence>
			<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ProvisionCareFrequencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AllYearRound" />
			<xs:enumeration value="SchoolTerm" />
			<xs:enumeration value="Holidays" />
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="ProvisionCarePeriodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AllYearRound" />
            <xs:enumeration value="SchoolTerm" />
            <xs:enumeration value="WeekdayAM" />
            <xs:enumeration value="WeekdayPM" />
            <xs:enumeration value="BeforeSchool" />
            <xs:enumeration value="AfterSchool" />
            <xs:enumeration value="Holidays" />
            <xs:enumeration value="Weekend" />
            <xs:enumeration value="Weekday" />
        </xs:restriction>
    </xs:simpleType>

	<xs:complexType name="ProvisionCareTimeType">
		<xs:sequence>
			<xs:element name="CarePeriodType" type="ProvisionCarePeriodType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegisteredPersonsDetailsType">
		<xs:sequence>
			<xs:element name="ReigsteredPerson" type="RegisteredPersonType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegisteredPersonType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CRRegisteredPersonsType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReferenceAddressType">
		<xs:sequence>
			<xs:element name="Title" type="TitleType" minOccurs="1" maxOccurs="1" />
			<xs:element name="OtherTitle" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="FirstName" type="ForenameType" minOccurs="1" maxOccurs="1" />
            <xs:element name="MiddleNames" type="ForenameType" minOccurs="0" maxOccurs="1" />
			<xs:element name="Surname" type="SurnameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ReferenceAddress" type="AddressType" minOccurs="1" maxOccurs="1" />
			<xs:element name="TelephoneNumber" type="TelephoneNumberType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Email" type="EmailAddressType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Relationship" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="ReferenceEnclosed" type="YesNoType" minOccurs="1" maxOccurs="1" />
			<xs:element name="TimeKnownMonths" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="TimeKnownYears" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="SectorTypeIdType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SectorTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Public" />
			<xs:enumeration value="Private" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SpecialConsiderationsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Null" />
			<xs:enumeration value="WomensRefuge" />
			<xs:enumeration value="MilitaryBase" />
			<xs:enumeration value="AnonymityRequested" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TimeUnaccountedType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0" />
			<xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" />
			<xs:element name="DateTo" type="xs:dateTime" minOccurs="0" />
			<xs:element name="ID" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TrainQualDetailsType">
		<xs:sequence>
			<xs:element name="TrainQual" type="TrainQualType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TrainQualType">
		<xs:sequence>
			<xs:element name="CourseTitle" type="xs:string" minOccurs="0" />
			<xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" />
			<xs:element name="DateTo" type="xs:dateTime" minOccurs="0" />
			<xs:element name="Qualification" type="xs:string" minOccurs="0" />
			<xs:element name="DateGained" type="xs:dateTime" minOccurs="0" />
			<xs:element name="AwardingBody" type="xs:string" minOccurs="0" />
			<xs:element name="ID" type="xs:int" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="RecordedNumbersType">
		<xs:sequence>
			<xs:element name="RecordedNumberDetails" type="RecordedNumberDetailsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RecordedNumberDetailsType">
		<xs:sequence>
			<xs:element name="RecordedNumber" type="RecordedNumberType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RecordedNumberType">
		<xs:sequence>
			<xs:element name="RecordedNumberTypeId" type="RecordedNumberTypeIdType" minOccurs="1" maxOccurs="1" />
			<xs:element name="RecordedNumber" type="xs:int" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RecordedNumberTypeIdType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<xs:enumeration value="5" />
			<xs:enumeration value="6" />
			<xs:enumeration value="7" />
			<xs:enumeration value="8" />
			<xs:enumeration value="9" />
			<xs:enumeration value="10" />
			<xs:enumeration value="11" />
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />
			<xs:enumeration value="14" />
			<xs:enumeration value="15" />
			<xs:enumeration value="16" />
			<xs:enumeration value="17" />
			<xs:enumeration value="18" />
		</xs:restriction>
	</xs:simpleType>
  
	<!--END Common subsection Types-->

	<xs:simpleType name="ApplicationSourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Postal" />
			<xs:enumeration value="Telephone" />
			<xs:enumeration value="Online" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ApplicationDocumentsType">
		<xs:sequence>
			<xs:element name="Attachment" type="AttachmentType" minOccurs ="0" maxOccurs ="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AttachmentType">
		<xs:sequence>
      <xs:element name="Type" type="AttachmentTypeType" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Extension" type="xs:string" minOccurs="0"/>
			<xs:element name="Data" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


    <!--CR Associations Type-->
    
    <xs:complexType name="CRAssociationsType">
        <xs:sequence>
            <xs:element name="Associations" type="CRAssociationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CRAssociationType">
        <xs:sequence>
            <xs:element name="MatchId" type="xs:int" minOccurs="1" maxOccurs="1" />
            <xs:element name="SourceSystem" type="SourceSystemType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="SourceSystemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RSA"/>
        </xs:restriction>
    </xs:simpleType>

    <!--END CR Associations Type-->

	<!--Payments Type-->

	<xs:complexType name="PaymentsType">
		<xs:sequence>
			<xs:element name="Payment" type="PaymentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PaymentType">
		<xs:sequence>
			<xs:element name="Reference" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="Amount" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!--END Payments Type-->
  
</xs:schema>
