conf/xsd/GetRegistrationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pdt="http://www.govtalk.gov.uk" version="1.0">
    <xs:include schemaLocation="Common.xsd" />

    <xs:element name="Registrations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Registration" type="RegistrationType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="RegistrationType">
        <xs:sequence>
            <xs:element name="URN" type= "ReferenceNumberType"/>
            <xs:element name="RPURN" type= "ReferenceNumberType" minOccurs ="0"/>
            <xs:element name="RegistrationID" type= "xs:integer" minOccurs="1"/>
            <xs:element name="ProviderName" type= "GenericNameType" minOccurs ="0"/>
            <xs:element name="ProviderAddress" type= "AddressType"/>
            <xs:element name="PrimarySetting" type= "YesNoType" minOccurs ="0"/>
            <xs:element name="SettingID" type= "xs:integer" minOccurs ="0"/>
            <xs:element name="SettingName" type= "SettingNameType" minOccurs ="0"/>
            <xs:element name="SettingAddress" type= "AddressType"/>
            <xs:element name="SettingTelephoneNumber" type= "TelephoneLongType" minOccurs ="0"/>
            <xs:element name="SettingTimestamp" type= "TimestampType" minOccurs ="0"/>
            <xs:element name="RegistrationDate" type= "xs:date" minOccurs ="0"/>
            <xs:element name="RegistrationStatusID" type= "RegistrationStatusIDType" minOccurs ="0"/>
            <xs:element name="RegistrationStatus" type= "RegistrationStatusDescType" minOccurs ="0"/>
            <xs:element name="InspectionPromptDate" type= "xs:date" minOccurs ="0"/>
            <xs:element name="CompletedByDate" type= "xs:date" minOccurs ="0"/>
            <xs:element name="LACode" type= "ShortDescType" minOccurs ="0"/>
            <xs:element name="LAName" type= "ShortDescType" minOccurs ="0"/>
            <xs:element name="ProvisionType" type= "ProvisionTypeDescType" minOccurs ="0"/>
            <xs:element name="ProvisionTypeID" type= "ProvisionTypeIDType" minOccurs ="0"/>
            <xs:element name="RPProvisionTypeID" type= "ProvisionTypeIDType" minOccurs ="0"/>
            <xs:element name="ConsentToPublishChildminderDetails" type= "YesNoType" minOccurs ="0"/>
            <xs:element name="RegistrationExtraTimestamp" type= "TimestampType" minOccurs ="0"/>
            <xs:element name="EYR" type= "RegistrationStatusIdType" minOccurs ="0"/>
            <xs:element name="VCR" type= "RegistrationStatusIdType" minOccurs ="0"/>
            <xs:element name="VCRTimestamp" type= "TimestampType" minOccurs ="0"/>
            <xs:element name="CCR" type= "RegistrationStatusIdType" minOccurs ="0"/>
            <xs:element name="CCRTimestamp" type= "TimestampType" minOccurs ="0"/>
            <xs:element name="OrganisationID" type= "xs:integer" minOccurs ="0"/>
            <xs:element name="Associations" type="AssociationsType" minOccurs="0"/>
            <xs:element name="ActiveNOINODI" type= "YesNoType" minOccurs ="0"/>
            <xs:element name="ActiveCIECase" type= "YesNoType" minOccurs ="0"/>
            <xs:element name="CarePeriods" type="CarePeriodsType" minOccurs ="0"/>
            <xs:element name="Visits" type="VisitsType" minOccurs ="0"/>
            <xs:element name="PaymentStatus" type= "xs:decimal" minOccurs ="0"/>
            <xs:element name="DirectDebit" type= "YesNoType" minOccurs ="0"/>
            <xs:element name="Checks" type="ChecksType" minOccurs ="0" />
            <xs:element name="Suitabilities" type="SuitabilitiesType" minOccurs="0" />

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="RegistrationStatusIdType">
        <xs:restriction base ="xs:integer" />
    </xs:simpleType>
    <xs:simpleType name="ReferenceNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenericNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressesType">
        <xs:sequence>
            <xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="ID" type="xs:integer" minOccurs="0"/>
            <xs:element name="Address1" type="xs:string" minOccurs="1" />
            <xs:element name="Address2" type="xs:string" minOccurs="1" />
            <xs:element name="Address3" type="xs:string" minOccurs="0"/>
            <xs:element name="Town" type="xs:string" minOccurs="1" />
            <xs:element name="County" type="xs:string" minOccurs="1" />
            <xs:element name="PostCode" type="xs:string" minOccurs="1" />
            <xs:element name="LocalAuthorityDescription" type="xs:string" minOccurs="1" />
            <xs:element name="LocalAuthorityCode" type="xs:string" minOccurs="1" />
            <xs:element name="RegionId" type="RegionIdType" minOccurs="0" />
            <xs:element name="FromDate" type="xs:dateTime" minOccurs="0" />
            <xs:element name="ToDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name ="RegionIdType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="21" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name ="YesNoType" >
        <xs:restriction base ="xs:string">
            <xs:enumeration value ="Null"/>
            <xs:enumeration value ="Yes"/>
            <xs:enumeration value ="No"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name ="SettingNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TelephoneLongType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TimestampType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegistrationStatusIDType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegistrationStatusDescType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <!--<xs:enumeration value="Null"/>
                  <xs:enumeration value="NotRegistered"/>
                  <xs:enumeration value="Active"/>
                  <xs:enumeration value="ApplicationWithdrawn"/>
                  <xs:enumeration value="Cancelled"/>
                  <xs:enumeration value="ClosedOpenedInError"/>
                  <xs:enumeration value="Exempt"/>
                  <xs:enumeration value="Proposed"/>
                  <xs:enumeration value="Refused"/>
                  <xs:enumeration value="Resigned"/>
                  <xs:enumeration value="Suspended"/>
                  <xs:enumeration value="Lapsed"/>-->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name ="ShortDescType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProvisionTypeDescType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <!--<xs:enumeration value="Null"/>
                  <xs:enumeration value="Childminder"/>
                  <xs:enumeration value="DayCare"/>
                  <xs:enumeration value="CMNetwork"/>
                  <xs:enumeration value="PortageScheme"/>
                  <xs:enumeration value="IndependentSchool"/>
                  <xs:enumeration value="ChildrensHome"/>
                  <xs:enumeration value="VoluntaryAdoptionAgency"/>
                  <xs:enumeration value="IndependentFosteringAgency"/>
                  <xs:enumeration value="AdoptionSupportAgency"/>
                  <xs:enumeration value="ResidentialFamilyCentre"/>
                  <xs:enumeration value="BoardingSchool"/>
                  <xs:enumeration value="FurtherEducationCollege"/>
                  <xs:enumeration value="ResidentialSpecialSchool"/>
                  <xs:enumeration value="LocalAuthorityAdoptionAgency"/>
                  <xs:enumeration value="LocalAuthorityFosteringAgency"/>
                  <xs:enumeration value="PrivateFosteringArrangements"/>
                  <xs:enumeration value="HomeChildcarer"/>
                  <xs:enumeration value="ChildminderVCR"/>
                  <xs:enumeration value="ChildcareOnDomesticPremises"/>
                  <xs:enumeration value="ChildcareOnNonDomesticPremises"/>-->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProvisionTypeIDType">
        <xs:restriction base="xs:integer">
            <!--<xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="20"/>
                  <xs:enumeration value="21"/>
                  <xs:enumeration value="30"/>
                  <xs:enumeration value="31"/>
                  <xs:enumeration value="32"/>
                  <xs:enumeration value="33"/>-->
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssociationsType">
        <xs:sequence>
            <xs:element name="Association" type="AssociationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssociationType">
        <xs:sequence>
            <xs:element name="Comments" type="AssociationCommentsType" minOccurs="0"/>
            <xs:element name="Paid" type="YesNoType" minOccurs="0"/>
            <xs:element name="DateFrom" type="xs:date" minOccurs="0"/>
            <xs:element name="DateTo" type="xs:date" minOccurs="0"/>
            <xs:element name="TypeID" type="AssociationTypeIDType" minOccurs="1"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="SettingName" type="SettingNameType" minOccurs ="0"/>
            <xs:element name="SettingAddress1" type="AddressLineType" minOccurs ="0"/>
            <xs:element name="SettingPostCode" type="PostCodeType" minOccurs ="0"/>
            <xs:element name="AssociationID" type="xs:integer" minOccurs ="0"/>
            <xs:element name="RegistrationID" type="xs:integer" minOccurs ="0"/>
            <xs:element name="RegistrationStatus" type="xs:string" minOccurs ="0"/>
            <xs:element name="Timestamp" type="TimestampType" minOccurs ="0"/>
            <xs:element name="IndividualID" type="xs:integer" minOccurs ="1" />
            <xs:element name="URN" type="ReferenceNumberType" minOccurs="0"/>
            <xs:element name="ProvisionTypeID" type="ProvisionTypeIDType" minOccurs ="0"/>
            <xs:element name="WorkWithChildren" type="YesNoType" minOccurs ="0"/>
            <xs:element name="PartOfRatio" type="YesNoType" minOccurs ="0"/>
            <xs:element name="ApplicationReceived" type="YesNoType" minOccurs ="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AssociationCommentsType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssociationTypeIDType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressLineType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PostCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CarePeriodsType">
        <xs:sequence>
            <xs:element name="CarePeriod" type="CarePeriodType" minOccurs="15" maxOccurs="15" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CarePeriodType">
        <xs:sequence>
            <xs:element name="CarePeriodTypeID" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="CarePeriodYesNo" type="YesNoType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VisitsType">
        <xs:sequence>
            <xs:element name="Visit" type="VisitType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VisitType">
        <xs:sequence>
            <xs:element name="InspectionNumber" type="xs:integer" minOccurs="1" maxOccurs="1"  />
            <xs:element name="VisitDate" type="xs:date" minOccurs="1" maxOccurs="1"  />
            <xs:element name="VisitTypeId" type="xs:integer" minOccurs="1" maxOccurs="1"  />
            <xs:element name="VisitStatusId" type="xs:integer" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChecksType">
        <xs:sequence>
            <xs:element name="Check" type="CheckType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CheckType">
        <xs:sequence>
            <xs:element name="IndividualId" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="TypeOfCheckId" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="CheckStatusId" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="URN" type="ReferenceNumberType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SuitabilitiesType">
        <xs:sequence>
            <xs:element name="Suitability" type="SuitabilityType" minOccurs="0" maxOccurs ="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SuitabilityType">
        <xs:sequence>
            <xs:element name="IndividualId" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="OverallSuitabilityDecisionId" type ="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="URN" type="ReferenceNumberType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>


</xs:schema>